:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-gray: #10100e;

  --border-radius-small: 3px;
}


body {
  background-color: var(--color-dark-gray);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}