.link {
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
  font-weight: 600;
  color: var(--color-yellow);
  text-decoration: none;
}

.link__img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: cover;
  object-position: center center;
}